#**TUGAS 1**

**Dissimilarity- Menghitung Jarak Antar Data**

1. memahami tipe data
2. Tentukan jarak dari data yang dibuat, data mengandung 4 tipe data:
  *  Numerik
 *  Kategorical / Nominal
 *  Binary Asimetris / Simestris
 * Ordinal

**1. Tipe Data**


1.1 Atribut Nominal / Kategorical

Nominal berarti "berkaitan dengan nama." Nilai atribut nominal adalah simbol atau nama benda. Setiap nilai mewakili beberapa jenis kategori, kode, atau status, sehingga atribut nominal juga disebut sebagai kategori. Nilai tidak memiliki urutan yang berarti. Dalam ilmu komputer, nilai juga dikenal sebagai pencacahan.


1.2 Atribut Binary (Biner)

Atribut biner adalah atribut nominal dengan hanya dua kategori atau status 0 atau 1, di mana 0 biasanya berarti bahwa atribut tersebut tidak ada, dan 1 berarti ada. Atribut biner disebut sebagai Boolean jika kedua status sesuai dengan benar dan salah.


1.3 Ordinal

Atribut ordinal adalah atribut dengan kemungkinan nilai yang memiliki urutan atau peringkat yang bermakna di antara mereka, tetapi besarnya antara nilai-nilai yang berurutan tidak diketahui.


1.4 Numeric

Atribut numerik bersifat kuantitatif; yaitu, itu adalah kuantitas yang dapat diukur, direpresentasikan dalam bilangan bulat atau nilai nyata. Atribut numerik dapat berskala interval atau berskala rasio.

**2. Menetukan Jarak dari data**

In [1]:
%%capture
pip install pandas

In [2]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
import math
import numpy as np

**Mengambil Data**

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/RoySuwanda-21-046/pendata/gh-pages/data.csv")

In [7]:
df

      nama  jenis kelamin     gaji  pendidikan          status    hobby
0      roy      laki-laki  3000000     sarjana   belum menikah   futsal
1  suwanda      laki-laki  3500000         sma         menikah    musik
2      ike      perempuan  5000000     sarjana         menikah     film
3    dimas      laki-laki  3000000     sarjana   belum menikah   futsal

**1. Menghitung Jarak pada tipe data numerik**

In [ ]:
data_gaji = df[["gaji"]]
data_gaji

**2. Menghitung Jarak Pada Tipe Data Kategorical**

In [ ]:
# Baca data dari table
data = df.head()

# Buat kolom kosong untuk menyimpan jarak antara Gaji setiap pasangan responden
kolom_jarak = []
for i in range(len(data)):
    for j in range(i+1, len(data)):
        Gaji1 = data.iloc[i]['gaji']
        Gaji2 = data.iloc[j]['gaji']
        jarak = math.sqrt((Gaji1 - Gaji2)**2)
        kolom_jarak.append(jarak)

# Buat tabel baru untuk menyimpan hasil perhitungan
jumlah_pasangan_responden = len(data) * (len(data)-1) // 2
kolom_responden1 = []
kolom_responden2 = []
for i in range(len(data)):
    for j in range(i+1, len(data)):
        kolom_responden1.append(data.iloc[i]['nama'])
        kolom_responden2.append(data.iloc[j]['nama'])
        
df_jarak = pd.DataFrame({'Responden 1': kolom_responden1,
                         'Responden 2': kolom_responden2,
                         'Jarak Gaji': kolom_jarak})

# Tampilkan hasil perhitungan
print(df_jarak)

  Responden 1 Responden 2  Jarak Gaji
0         roy     suwanda    500000.0
1         roy         ike   2000000.0
2         roy       dimas         0.0
3     suwanda         ike   1500000.0
4     suwanda       dimas    500000.0
5         ike       dimas   2000000.0


* Menghitung Jarak menggunakan metode Euclidean Distance


Euclidean Distance dapat digunakan untuk menghitung jarak euclidean antara dua data dengan menghitung akar kuadrat dari selisih kuadrat antara nilai atribut Gaji.

Rumus Euclidean Distance: jarak(i,j) = sqrt((Gaji_i - Gaji_j)^2)

Keterangan:
    * jarak(i,j) : Jarak dissimilarity antara Gaji responden i dan j

    * Gaji_i : Nilai Gaji responden i

    * Gaji_j : Nilai Gaji responden j

Rumus tersebut dapat dijelaskan sebagai berikut:

    * Ambil nilai Gaji responden i dan j

    * Hitung selisih antara nilai Gaji responden i dan j

    * Kuadratkan selisih tersebut

    * Hitung akar kuadrat dari hasil kuadrat pada langkah 3

    * Hasil pada langkah 4 merupakan nilai jarak dissimilarity antara Gaji responden i dan j

In [ ]:
# Baca data dari Tabel
data = df.head()

# Ambil data Gaji dari dua data yang ingin dihitung jarak dissimilaritynya
Gaji1 = data.loc[data['nama'] == 'roy']['gaji'].iloc[0]
Gaji2 = data.loc[data['nama'] == 'suwanda']['gaji'].iloc[0]

# Hitung jarak dissimilarity gaji menggunakan Euclidean Distance
jarak = math.sqrt((Gaji1 - Gaji2)**2)

# Tampilkan hasil perhitungan
print('Jarak dissimilarity Gaji antara roy dan suwanda adalah:', jarak)